version: "3"
services:
  nginx:
    ports:
      - "80:80"
  node-app:
    build:
      context: .
      args:
        NODE_ENV: production
    environment:
      - NODE_ENV=development
      - MONGO_USER=merve
      - MONGO_PASSWORD=mypassword
      - SESSION_SECRET=secret
    command: node index.js

    mongo:
      environment:
        - MONGO_INITDB_ROOT_USERNAME=merve
        - MONGO_INITDB_ROOT_PASSWORD=mypassword
